<div class="footer">
    <div class="container">
        <div class="ft-le">
            <a href="" class="ft-logo"><img src="../images/ft-logo.svg" alt=""></a>
            <div class="ft-ri">
                <p class="customer">고객센터</p>
                <p class="Number">1644-2515</p>
                <p class="Holiday">
                    상담시간 : 10:00 ~ 17:00  <br>
                    주말,공휴일은 휴무입니다.
                </p>
            </div>
            <div class="ft-nav">
                <a href="../pages/완료/privacy.html">개인정보 처리방침</a>
                <a href="../pages/완료/policy.html">이용방침</a>
                <a href="">입점문의</a>
                <a href="../pages/support.html">고객센터</a>
            </div>
            <p class="Address">주소 : 상계동169-210 4층 | 사업자등록번호 : 768-88-02900  ㅣ 대표자 : 정원철</p>
            <p>통판신 번호 : 제 2023-의정부흥선-0370호</p>
            <p class="COPYRIGHT">COPYRIGHT 2022 우리뷰 ALL RIGHT RESERVED.</p>
        </div>
    </div>
    <button id="up-btn">
        <i class="xi-arrow-up"></i>
    </button>
</div>

<script>
$(function () {
    $("#up-btn").click(function () {
        $("html, body").animate(
            {
                scrollTop: 0,
            },
            400
        );
        return false;
    });
});
</script>
